@media (prefers-color-scheme: dark) {
	body {
		background-color: #3b3b3b;
		color: #cecece;
		
	}
	
	.zustand-Betrieb {
		color: #45bf45;
	}
	
	.zustand-Planung {
		color: #52a1dd;
	}
	
	.topbar {
		background-color: #262626;
	}
	
	.secondbar {
		background-color: #2b2b2b;
	}

	input {
		border-color: #cecece;
		color: #cecece;
	}
	
	.box {
		background-color: #424242;
	}
	
	hr {
		background-image: linear-gradient(to right, #434343, #616161, #434343);
	}
	
	.tab {
		color: #cecece;
	}

	
	a {
		color: #72a9ab;
	}
	
	.box {
		color: #cecece;
	}
	
	::-webkit-scrollbar {
	  width: 10px;
	}
		
	::-webkit-scrollbar-track {
	  background: #2b2b2b; 
	}
	 
	::-webkit-scrollbar-thumb {
	  background: #3b3b3b; 
	}
	
	::-webkit-scrollbar-thumb:hover {
	  background: #000; 
	}
}